<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaimer - Reset your Password</title>
    <link rel="stylesheet" href="/css/reset-password.css">
    <script src="/lib/reset-password.js"></script>
</head>

<body>
        <div class="page">
            <header>
                <div class="logo"></div>
            </header>
            <main class="d-flex-fd-col">
                <form id="formWrapper" method="POST">
                    <input type="hidden" name="user_name" value={{user_name}} />
                    <input type="hidden" name="user_email" value="{{user_email}}" />
                    <input type="hidden" name="token" value="{{token}}" />
                    <h2>Hi {{user_name}}, you can reset your Password here</h2>
                    {{#if errors}}
                        <ul class="error">
                        {{#each errors.message}}
                            <li>{{this.property}}: 
                                <ul>{{#each this.constraints}}
                                        <li>{{@key}}: {{this}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    <div class="d-flex-fd-col">
                         <label class="label" for="newPassword">New Password</label> 
                         <input placeholder="New Password" onblur="pristineFlip()" oninput="checkNewPassword()" class="input-field" type="password" name="user_password" id="newPassword">
                        <p id="newPasswordError" class="error no-d"></p>
                    </div>
                    <div class="d-flex-fd-col">
                        <label class="label" for="confirmNewPassword">Confirm New Password</label>
                        <input placeholder="Confirm New Password" oninput="checkConfirmNewPassword()" class="input-field" type="password" name="user_password_confirm" id="confirmNewPassword">
                        <p id="confirmNewPasswordError" class="error no-d"></p>
                    </div>
                    <div class="d-flex-center">
                        <button class="btn" type="submit" disabled="disabled">Reset Password</button> 
                    </div>
                </form>
                
            </main>
        </div>
</body>

</html>